br
br
.container-fluid
    .form-horizontal
        .col-md-6
            .form-group
                label.control-label.col-xs-4 ชื่อเจ้าของ/Owner name*
                .col-xs-8
                    input.form-control {{visit.owner.name}}
            .form-group
                label.control-label.col-xs-4 ที่อยู่/Address*
                .col-xs-8
                    input.form-control {{visit.owner.address}}
            .form-group
                label.control-label.col-xs-4 เบอร์ติดต่อ/Phone*
                .col-xs-8
                    input.form-control {{visit.owner.phone}}
            .form-group
                label.control-label.col-xs-4 มือถือ/Mobile
                .col-xs-8
                    input.form-control {{visit.owner.mobile}}
        .col-md-6
            .form-group
                label.control-label.col-xs-4 แขวง/District*
                .col-xs-8
                    input.form-control {{visit.owner.district}}
            .form-group
                label.control-label.col-xs-4 รหัสไปรษณีย์/Postcode*
                .col-xs-8
                    input.form-control {{visit.owner.postcode}}
            .form-group
                label.control-label.col-xs-4 อีเมล์/Email*
                .col-xs-8
                    input.form-control {{visit.owner.email}}
        .col-md-12
            .form-group
                label.control-label.col-xs-2 ชื่อเจ้าของ/Owner name*
                .col-xs-10
                    input.form-control {{visit.owner.name}}